{% extends 'base.html' %}

{% block content %}
    <!-- Main Start -->
    <main class="container mt-4" style="margin-bottom:200px;">
        <div class="card shadow mb-4" style="background-color: #eaf6fd;">
            <div class="card-body">
              <h2 class="card-title mb-4 text-center text-uppercase font-weight-bold text-primary">Reset Password</h2>
              
              <!-- Your pass details content goes here -->
          
            </div>
        </div>
        <div class="row" style="font-weight: bold;">
            <div class="col-md-3">
                {% include 'user/left-sidebar.html' %}
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        {% if msg %}
                            <p class="text-success">{{ msg }}</p>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success d-block mx-auto">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End -->
{% endblock %}
